html{background:#ccc;}

.hidden{
	display: none;
}

#imgSave{
  -moz-box-shadow:    1px 2px 3px 1px #000;
  -webkit-box-shadow: 1px 2px 3px 1px #000;
  box-shadow:         1px 2px 3px 1px #000;
}

canvas{display:none;}